# 클러스터별로 어떤 특성을 가지고 있는지 해석

### 상위 10% 신호등 cluster
- cluster 3개로 분류되어 있음

In [1]:
#라이브러리 로드
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [2]:
df = pd.read_csv('kmeanResult_0.1.csv')
df.head()

,id,fid,left,top,right,bottom,light_origin,aca200,aca400,ele200,...,dead,aca,kin,ele,total,num_10,num_total,num_10_percent,num_total_percent,cluster_0.1
0,8275,6284,341928.5552,187429.2726,342228.5552,187129.2726,1,2,1,2,...,1,1,1,1,0.9958,79,650,0.99,0.97,1
1,8389,6347,342228.5552,191629.2726,342528.5552,191329.2726,1,2,1,2,...,1,1,1,1,0.9924,55,457,0.97,0.96,1
2,8390,6350,342228.5552,191329.2726,342528.5552,191029.2726,1,2,1,2,...,1,1,1,1,0.9924,55,457,0.97,0.96,1
3,8395,6345,342228.5552,189829.2726,342528.5552,189529.2726,1,2,1,2,...,1,1,1,1,0.9946,59,678,0.98,0.97,1
4,8396,6340,342228.5552,189529.2726,342528.5552,189229.2726,1,2,1,2,...,1,1,1,1,0.9946,59,678,0.98,0.97,1

In [19]:
df.columns

Index(['id', 'fid', 'left', 'top', 'right', 'bottom', 'light_origin', 'aca200',
       'aca400', 'ele200', 'ele400', 'kin200', 'kin400', 'd200', 'd400',
       'bus200', 'bus400', 'bus', 'dead', 'aca', 'kin', 'ele', 'total',
       'num_10', 'num_total', 'num_10_percent', 'num_total_percent',
       'cluster_0.1'],
      dtype='object')

In [14]:
#각 클러스터 개수
df.groupby('cluster_0.1')['id'].count()

cluster_0.1
1    27
2    14
3    26
Name: id, dtype: int64

In [ ]:
#해석에 필요없는 변수 제거
none_col= ['fid','left','top', 'right', 'bottom', 'light_origin', 'aca200',
       'aca400', 'ele200', 'ele400', 'kin200', 'kin400', 'd200', 'd400',
       'bus200', 'bus400','num_10', 'num_total']
df2 = df.drop(none_col, axis = 'columns')
df2.shape

In [3]:
#클러스터별 점수분포
df.groupby('cluster_0.1')['total'].mean()

cluster_0.1
1    0.991281
2    0.986000
3    0.993100
Name: total, dtype: float64

In [4]:
#클러스터별 10대 인구 분포
df.groupby('cluster_0.1')['num_10_percent'].mean()

cluster_0.1
1    0.958519
2    0.935714
3    0.981923
Name: num_10_percent, dtype: float64

In [5]:
#총 인구 분포
df.groupby('cluster_0.1')['num_total_percent'].mean()

cluster_0.1
1    0.962593
2    0.937143
3    0.952692
Name: num_total_percent, dtype: float64

In [6]:
#사망사고
df.groupby('cluster_0.1')['dead'].mean()

cluster_0.1
1    1
2    1
3    1
Name: dead, dtype: int64

In [7]:
#학교
df.groupby('cluster_0.1')['ele'].mean()

cluster_0.1
1    1
2    1
3    1
Name: ele, dtype: int64

In [8]:
#학교
df.groupby('cluster_0.1')['aca'].mean()

cluster_0.1
1    1
2    1
3    1
Name: aca, dtype: int64

In [9]:
#버스
df.groupby('cluster_0.1')['bus'].mean()

cluster_0.1
1    1
2    1
3    1
Name: bus, dtype: int64

In [10]:
#버스
df.groupby('cluster_0.1')['kin'].mean()

cluster_0.1
1    1
2    1
3    1
Name: kin, dtype: int64

### 상위 15% 신호등 cluster
- cluster 3개로 분류되어 있음

In [11]:
df2 = pd.read_csv('kmeanResult_0.15.csv')
df2.head()

,id,fid,left,top,right,bottom,light_origin,aca200,aca400,ele200,...,dead,aca,kin,ele,total,num_10,num_total,num_10_percent,num_total_percent,cluster_0.15
0,8264,6259,341928.5552,190729.2726,342228.5552,190429.2726,1,2,1,2,...,1,1,1,1,0.9762,30,201,0.91,0.87,3
1,8275,6284,341928.5552,187429.2726,342228.5552,187129.2726,1,2,1,2,...,1,1,1,1,0.9958,79,650,0.99,0.97,3
2,8385,6351,342228.5552,192829.2726,342528.5552,192529.2726,1,2,1,2,...,1,1,1,1,0.9616,12,133,0.83,0.82,3
3,8387,6353,342228.5552,192229.2726,342528.5552,191929.2726,1,2,1,2,...,1,1,1,1,0.9706,12,292,0.83,0.91,3
4,8389,6347,342228.5552,191629.2726,342528.5552,191329.2726,1,2,1,2,...,1,1,1,1,0.9924,55,457,0.97,0.96,3

In [16]:
#각 클러스터 개수
df2.groupby('cluster_0.15')['id'].count()

cluster_0.15
1    49
2    16
3    34
Name: id, dtype: int64

In [17]:
#클러스터별 점수분포
df2.groupby('cluster_0.15')['total'].mean()

cluster_0.15
1    0.985653
2    0.985400
3    0.987282
Name: total, dtype: float64

In [18]:
#클러스터별 10대 인구 분포
df.groupby('cluster_0.1').mean()

,id,fid,left,top,right,bottom,light_origin,aca200,aca400,ele200,...,bus,dead,aca,kin,ele,total,num_10,num_total,num_10_percent,num_total_percent
cluster_0.1,,,,,,,,,,,,,,,,,,,,,
1,8781.000000,6671.740741,343150.777422,192073.717044,343450.777422,191773.717044,1.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,0.991281,55.074074,617.370370,0.958519,0.962593
2,10876.000000,8487.357143,348099.983771,197072.129743,348399.983771,196772.129743,1.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,0.986000,42.071429,395.571429,0.935714,0.937143
3,13348.423077,1082.269231,353847.785969,191063.887985,354147.785969,190763.887985,1.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,0.993100,88.461538,715.192308,0.981923,0.952692